<!doctype html>
<html lang="ja">
	<head>
		<title>トミこれ（トミカこれくしょん）</title>
		<meta charset="UTF-8">
		<meta name="publishId" content="<%= id %>">
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/style.css" type="text/css" />
	</head>
	<body>
    <div class="container">
		<div class="raw" id="publish">
		</div>
	</div>

	<script src="../js/mithril.min.js"></script>
	<script src="../js/publish.js"></script>
	</body>
</html>